language: python
python:
  - 3.7
services:
  - docker
before_install:
  - python --version
  - pip install -U pip
install:
  - docker-compose up -d
  - pip install -U pytest
  - pip install -U codecov
  - pip install -U psycopg2
  - pip install -Ur requirements.txt
script:
  - make .ci-test
after_success:
  - codecov
