@import "./variables";

@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

body {
    margin: 0;
    padding: 0;
    background: $dark;

    font-family: 'Lato', sans-serif;
}

.navbar.bg-dark {
    background-color: darken($dark, 5) !important;
}

.container {
    //max-width: $terminal-width * 10 + $terminal-margin * 2;
}