@import "../../../variables";

.terminal-wrapper {
    position: absolute;

    height: $terminal-height;
    width: $terminal-width;
    padding: $terminal-margin;
}

@for $i from 0 through 9 {
    .y-#{$i} {
        top: $i * $terminal-height;
    }
    .x-#{$i} {
        left: $i * $terminal-width;
    }
}

.terminal {
    color: white;
    width: 100%;
    height: 100%;
    user-select: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
        font-size: 1rem;
        font-weight: bold;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .small {
        font-size: .9rem;
    }

    &.faded {
        opacity: 0.5;
    }

    &.selected {
        border: 4px solid white;
    }
}